version: '3.9'

services:
  postgres:
    image: postgres:18
    container_name: reactive_admission_db
    restart: always
    environment:
      POSTGRES_DB: reactive_admission
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5444:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
